@font-face{
    font-family: titulo;
    src: url('../../../styles/fonts/GreatVibes-Regular.ttf');
}
.c-title{
    color: black;
    text-align: center;
    font-family: titulo;
}
.title{
    font-family: titulo;
    font-size: 10vh;
}

