.countdown-wrapper{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.fecha{
    text-align: center;
}
.time-section{
    margin-left: 20px;
    border: 1px solid;
    border-color: black;
    border-radius: 50%;
    min-width: 10rem;
    min-height: 10rem;
    justify-content: center;
	align-items: center;
	text-align: center;
    display: flex;
}
.time{
    display: flex;
    font-size: 20pt;
}
.time-text{
    display: flex;
    margin-left: 10px;
}
