*{
  font-family: cursive;
}

.leaflet-container{
  height: 50%;
  width: 50vw;
}
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}
Header{
  width: 100%;
  left: 0; 
	top: 0; 
	position: fixed; 
	margin-top: 0;
	padding: 0%;
}